
body {
   margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li:nth-child(4) {
  float: right;
}


ul li:nth-child(3) {
  margin-left: 400px;
  text-align: center;
  padding: 14px 16px;
}

.search-box:hover {
  align-items: center;
  background-color: #14af0c;
  
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #14af0c;
}

